.auth-page{

min-height:100vh;

display:flex;

justify-content:center;

align-items:center;

padding:20px;


background:

radial-gradient(
circle at top,
#332707,
#080808 70%
);

}



.auth-card{

width:100%;

max-width:420px;

padding:40px;


background:var(--glass-bg);

border:

1px solid var(--glass-border);


border-radius:var(--radius-xl);


backdrop-filter:blur(25px);


box-shadow:var(--gold-shadow);


text-align:center;


}



.auth-logo{

width:90px;

height:90px;


margin:auto;


display:flex;

align-items:center;

justify-content:center;


border-radius:50%;


font-size:60px;

font-weight:bold;


color:var(--gold-main);


background:rgba(212,175,55,.12);


}



.auth-card h1{

margin-top:20px;

color:var(--gold-main);

}



.auth-card p{

color:var(--text-soft);

margin:10px;

}



.auth-card input{

width:100%;

padding:15px;

margin:10px 0;


border-radius:15px;


border:

1px solid var(--gold-main);


background:#111;

color:white;


font-size:16px;


}



.auth-card button{

width:100%;

padding:16px;


margin-top:15px;


border:none;

border-radius:50px;


background:

linear-gradient(
135deg,
#f7e7a9,
#d4af37
);


font-weight:bold;

font-size:17px;


}



.switch-auth{

display:block;

margin-top:25px;


color:var(--gold-light);


cursor:pointer;


}
