.bottom-nav{

  position:fixed;

  bottom:15px;

  left:50%;

  transform:translateX(-50%);

  width:92%;

  height:70px;

  display:flex;

  justify-content:space-around;

  align-items:center;

  background:

  rgba(20,15,8,.92);

  border-radius:35px;

  border:

  1px solid rgba(212,175,55,.35);

  box-shadow:

  0 15px 40px rgba(0,0,0,.35);

  z-index:1000;

}

 

.nav-item{

  color:#888;

  text-align:center;

  cursor:pointer;

  transition:.3s;

}



.nav-icon{

  font-size:22px;

  transition:.3s;

}



.nav-item small{

  font-size:11px;

}



.nav-item.active{

  color:#D4AF37;

}



.home-item{

  transform:translateY(-18px);

}



.home-item .nav-icon{

  width:62px;

  height:62px;

  border-radius:50%;

  display:flex;

  justify-content:center;

  align-items:center;

  background:

  linear-gradient(
    145deg,
    #f5d77a,
    #b8860b
  );


  color:#111;

  font-size:34px;

  border:

  5px solid #111;


  box-shadow:

  0 10px 30px rgba(212,175,55,.5);

}



.home-item small{

  display:block;

  margin-top:5px;

  color:#D4AF37;

  font-weight:bold;

}



@media(max-width:600px){


  .bottom-nav{

    width:94%;

    height:65px;

  }


  .home-item .nav-icon{

    width:55px;

    height:55px;

    font-size:30px;

  }

}
