:root {

  --bg: #f4e4cc;

  --card: rgba(167, 118, 75, 0.22);

  --card-light: rgba(255,255,255,0.35);

  --gold: #b8860b;

  --gold-light: #e5c15a;

  --black: #15100a;

  --brown: #63452d;

  --border: rgba(184,134,11,0.35);

}



* {

  margin:0;

  padding:0;

  box-sizing:border-box;

}



body {

  background:

  linear-gradient(
    135deg,
    #f8eddc,
    #ecd2ac
  );


  color:var(--black);


  font-family:

  Tahoma,
  Arial,
  sans-serif;


  min-height:100vh;

}



#root {

  min-height:100vh;

}



button {

  border:none;

  cursor:pointer;

}



.glass {

  background:

  rgba(170,120,75,0.18);


  border:

  1px solid var(--border);


  backdrop-filter:

  blur(25px);


  -webkit-backdrop-filter:

  blur(25px);


  box-shadow:

  0 15px 40px rgba(90,55,20,0.18);

}



.gold-color {

  color:var(--gold);

}



.black-color {

  color:var(--black);

}
