@import "./src/styles/design.css";

* {

  margin: 0;
  padding: 0;
  box-sizing: border-box;

}


html {

  scroll-behavior: smooth;

}


body {

  background: var(--bg-main);

  color: var(--text-main);

  font-family: Tahoma, sans-serif;

  direction: rtl;

  min-height: 100vh;

}


#root {

  min-height: 100vh;

}


button,
input {

  font-family: inherit;

}


main {

  width: 100%;

  overflow-x: hidden;

}
