.gold-background{

position:fixed;

inset:0;

overflow:hidden;

z-index:-1;

background:

radial-gradient(
circle at top,
#2a2208,
#080808 60%
);

}



.light{

position:absolute;

border-radius:50%;

filter:blur(90px);

background:var(--gold-main);

opacity:.18;

animation:moveGold 12s infinite alternate;

}



.light-1{

width:350px;

height:350px;

top:-100px;

right:-80px;

}



.light-2{

width:300px;

height:300px;

bottom:-80px;

left:-80px;

animation-delay:3s;

}



.light-3{

width:220px;

height:220px;

top:50%;

left:50%;

animation-delay:6s;

}



.particles span{

position:absolute;

width:5px;

height:5px;

background:var(--gold-main);

border-radius:50%;

opacity:.5;

animation:particleMove 8s infinite;

}



.particles span:nth-child(1){

top:20%;
left:20%;

}



.particles span:nth-child(2){

top:60%;
left:80%;

}



.particles span:nth-child(3){

top:40%;
left:40%;

}



.particles span:nth-child(4){

top:80%;
left:30%;

}



.particles span:nth-child(5){

top:30%;
left:70%;

}



@keyframes moveGold{

from{

transform:translate(0,0);

}

to{

transform:translate(80px,50px);

}

}



@keyframes particleMove{

from{

transform:translateY(0);

}

to{

transform:translateY(-40px);

}

}
