.converter-box{

margin:30px 20px;

padding:35px;

background:var(--glass-bg);

border:1px solid var(--glass-border);

border-radius:var(--radius-xl);

backdrop-filter:blur(25px);

box-shadow:var(--gold-shadow);

}



.converter-box h2{

text-align:center;

color:var(--gold-main);

margin-bottom:30px;

}



.converter-input{

display:flex;

flex-direction:column;

gap:10px;

}



.converter-input label{

color:var(--text-soft);

}



.converter-input input{

padding:15px;

border-radius:15px;

border:1px solid var(--gold-main);

background:#111;

color:white;

font-size:18px;

outline:none;

}



.converter-result{

margin-top:25px;

padding:20px;

text-align:center;

background:rgba(212,175,55,.1);

border-radius:20px;

}



.converter-result span{

display:block;

color:var(--text-soft);

margin-bottom:10px;

}



.converter-result strong{

font-size:28px;

color:var(--gold-main);

}
