.header {
  min-height: 70vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background:#121212;
  direction:rtl;
}


.logo-box {

  width:90%;
  max-width:500px;

  padding:50px 30px;

  text-align:center;

  border-radius:35px;

  background:
  rgba(255,255,255,0.08);

  backdrop-filter:blur(25px);

  border:1px solid rgba(255,255,255,.15);

  box-shadow:
  0 30px 80px rgba(0,0,0,.5);

}


.logo-3d {

  font-size:90px;

  font-weight:900;

  color:#d4af37;

  text-shadow:

  0 5px 0 #806515,
  0 15px 30px rgba(212,175,55,.5);

  animation:floatLogo 3s infinite ease-in-out;

}


.logo-box h1 {

  color:white;

  font-size:32px;

  margin-top:20px;

}


.logo-box p {

  color:#d4af37;

  font-size:18px;

  margin-top:15px;

}



@keyframes floatLogo {

  0%,100%{
    transform:translateY(0);
  }

  50%{
    transform:translateY(-12px);
  }

}
