.top-header{

  height:55px;

  width:100%;

  display:flex;

  align-items:center;

  justify-content:center;

  position:relative;


  background:

  linear-gradient(
    180deg,
    #fff8e8,
    #f1dfb8
  );


  border-bottom:

  1px solid rgba(184,134,11,.35);

}



.logo-place{

  display:flex;

  align-items:center;

  justify-content:center;

  height:45px;

  overflow:hidden;

}



.logo-place svg{

  width:35px !important;

  height:35px !important;

  max-width:35px;

  max-height:35px;

}



.logo-place img{

  width:35px !important;

  height:35px !important;

  object-fit:contain;

}



.settings-btn{

  position:absolute;

  right:15px;

  top:10px;


  width:32px;

  height:32px;


  border-radius:50%;


  border:

  1px solid #b8860b;


  background:#fff;


  color:#b8860b;


  font-size:15px;


  display:flex;

  align-items:center;

  justify-content:center;

}
