.home-page{

  min-height:100vh;

  padding:20px;

  background:

  linear-gradient(
    135deg,
    #f8eddc,
    #e7c89b
  );

  color:#15100a;

}





.prices-grid{

  display:grid;

  grid-template-columns:repeat(2,1fr);

  gap:12px;

}





.price-card{

  padding:14px;

  border-radius:20px;


  background:

  rgba(255,255,255,0.35);


  backdrop-filter:blur(18px);


  border:

  1px solid rgba(184,134,11,.25);


  box-shadow:

  0 8px 25px rgba(0,0,0,.08);


  cursor:pointer;


  transition:.3s;


}




.price-card:hover{

  transform:translateY(-3px);

}





.price-card.active{


  border:

  2px solid #b8860b;


  background:

  rgba(255,215,120,.35);


}





.price-card p{


  margin:0 0 8px;


  color:#63452d;


  font-size:14px;


}




.price-card strong{


  color:#b8860b;


  font-size:16px;


}





.chart-box{


  margin-top:20px;


  padding:20px;


  height:350px;


  border-radius:25px;


  background:

  rgba(255,255,255,.32);


  backdrop-filter:blur(20px);


  border:

  1px solid rgba(184,134,11,.25);


}





.chart-box h2{


  text-align:center;


  color:#63452d;


}




.chart-placeholder{


  height:250px;


  display:flex;


  justify-content:center;


  align-items:center;


  font-size:40px;


  color:#b8860b;


}





.asset-box{


  margin-top:20px;


  padding:20px;


  text-align:center;


  border-radius:25px;


  background:

  rgba(255,255,255,.4);


  backdrop-filter:blur(20px);


}





.asset-box p{


  color:#63452d;


}





.asset-box h1{


  margin:10px 0;


  color:#b8860b;


}







.convert-box{


  display:flex;


  gap:12px;


  margin-top:20px;


}





.convert-box button{


  flex:1;


  padding:15px;


  border:none;


  border-radius:20px;


  background:#b8860b;


  color:white;


  font-size:15px;


  font-weight:bold;


}





@media(max-width:600px){


.home-page{

padding:12px;

}



.price-card strong{

font-size:14px;

}



.chart-box{

height:300px;

}



.convert-box{

flex-direction:column;

}



}
