.home-page{

position:relative;

min-height:100vh;

overflow:hidden;

padding-bottom:120px;

}



.home-content{

position:relative;

z-index:1;

}



.home-section{

width:100%;

max-width:1200px;

margin:auto;

padding:20px;

}
