.logo-container{

text-align:center;

}


.logo-b{

font-size:120px;

font-weight:900;

color:#d4af37;


text-shadow:

0 3px 0 #8a6b16,

0 8px 20px rgba(212,175,55,.6),

0 20px 40px rgba(0,0,0,.8);


animation:logoFloat 3s infinite ease-in-out;

}



.logo-container h2{

color:#d4af37;

font-size:30px;

}



@keyframes logoFloat{

0%,100%{

transform:translateY(0);

}


50%{

transform:translateY(-15px);

}

}
