.brand-logo{

display:flex;

flex-direction:column;

align-items:center;

}



.gold-b{


font-size:150px;

font-weight:900;


font-family:serif;


color:var(--gold-main);


background:

linear-gradient(
180deg,
#fff1a8,
#d4af37,
#8a6b16
);


-webkit-background-clip:text;

-webkit-text-fill-color:transparent;



text-shadow:

0 5px 0 rgba(138,107,22,.8),

0 15px 35px rgba(212,175,55,.45);



animation:

goldFloat 4s ease-in-out infinite;


}



.logo-stars{

margin-top:-25px;

color:var(--gold-main);

font-size:22px;

letter-spacing:12px;

}



@keyframes goldFloat{


0%,100%{

transform:translateY(0);

}


50%{

transform:translateY(-12px);

}


}
