.market-page{

  min-height:100vh;

  padding:20px;

  padding-bottom:110px;

  background:

  linear-gradient(
    135deg,
    #f8eddc,
    #e7c89b
  );

  color:#15100a;

  box-sizing:border-box;

}



.market-page h1{

  text-align:center;

  color:#63452d;

  font-size:30px;

  margin-bottom:20px;

}



/* وضعیت بازار */

.market-top{

  display:flex;

  justify-content:space-between;

  align-items:center;

  padding:15px 20px;

  border-radius:25px;


  background:

  rgba(255,255,255,.35);


  backdrop-filter:blur(18px);

  -webkit-backdrop-filter:blur(18px);


  border:

  1px solid rgba(184,134,11,.25);


  box-shadow:

  0 10px 30px rgba(0,0,0,.08);

  margin-bottom:20px;

}



.market-top p{

  margin:0;

  color:#63452d;

}



.market-top strong{

  padding:8px 18px;

  border-radius:20px;

  background:

  rgba(0,140,60,.15);

  color:#08752f;

}



/* کارت قیمت ها */

.market-grid{

  display:grid;

  grid-template-columns:repeat(4,1fr);

  gap:15px;

}



.market-card{


  padding:18px;

  min-height:140px;

  border-radius:25px;


  background:

  rgba(255,255,255,.38);


  backdrop-filter:blur(20px);

  -webkit-backdrop-filter:blur(20px);


  border:

  1px solid rgba(184,134,11,.25);


  box-shadow:

  0 10px 30px rgba(0,0,0,.08);


  transition:.3s;


}



.market-card:hover{

  transform:translateY(-5px);

}



.market-card h2{

  margin:0;

  font-size:16px;

  color:#63452d;

}



.market-price{

  margin-top:25px;

  font-size:20px;

  font-weight:bold;

  color:#b8860b;

}



.market-card span{


  display:inline-block;

  margin-top:15px;

  padding:6px 12px;

  border-radius:20px;

  font-size:13px;

  font-weight:bold;


}



.positive{

  color:#08752f;

  background:

  rgba(0,140,60,.15);

}



.negative{

  color:#b3261e;

  background:

  rgba(180,30,30,.15);

}





/* نمودار */

.chart-placeholder{


  margin-top:25px;

  padding:25px;

  text-align:center;

  border-radius:30px;


  background:

  rgba(255,255,255,.35);


  backdrop-filter:blur(20px);


  border:

  1px solid rgba(184,134,11,.25);


  color:#63452d;


}



.chart-placeholder h2{

  color:#b8860b;

}




/* موبایل */

@media(max-width:900px){


  .market-grid{

    grid-template-columns:repeat(2,1fr);

  }


}



@media(max-width:600px){


  .market-page{

    padding:12px;

  }


  .market-grid{

    grid-template-columns:repeat(2,1fr);

    gap:12px;

  }


  .market-card{

    padding:14px;

    min-height:125px;

  }


  .market-price{

    font-size:16px;

  }


  .market-page h1{

    font-size:25px;

  }


}
