.settings-page{

padding:30px 20px;

}



.settings-page h1{

text-align:center;

color:var(--gold-main);

margin-bottom:30px;

}




.profile-card{

padding:35px;

text-align:center;


background:var(--glass-bg);

border:1px solid var(--glass-border);

border-radius:var(--radius-xl);

box-shadow:var(--gold-shadow);

margin-bottom:30px;

}



.profile-logo{

width:90px;

height:90px;

margin:auto;


display:flex;

align-items:center;

justify-content:center;


border-radius:50%;


font-size:60px;

font-weight:bold;


color:var(--gold-main);


background:rgba(212,175,55,.12);

}



.profile-card h2{

margin-top:20px;

color:white;

}



.profile-card p{

color:var(--text-soft);

margin-top:10px;

}




.settings-list{

background:var(--glass-bg);

border-radius:var(--radius-xl);

border:1px solid var(--glass-border);

overflow:hidden;

}




.settings-item{

display:flex;

justify-content:space-between;

padding:22px;

border-bottom:

1px solid rgba(255,255,255,.1);


color:white;

}



.settings-item b{

color:var(--gold-main);

font-size:25px;

}
