.wallet-box{

margin:30px 20px;

padding:35px;

background:var(--glass-bg);

border:1px solid var(--glass-border);

border-radius:var(--radius-xl);

backdrop-filter:blur(25px);

box-shadow:var(--gold-shadow);

}



.wallet-title{

display:flex;

justify-content:space-between;

align-items:center;

margin-bottom:30px;

}



.wallet-title h2{

color:var(--gold-main);

}



.wallet-title span{

color:var(--text-soft);

}



.wallet-content{

display:grid;

grid-template-columns:
repeat(auto-fit,minmax(180px,1fr));

gap:20px;

}



.wallet-item{

padding:20px;

border-radius:20px;

background:rgba(212,175,55,.08);

text-align:center;

}



.wallet-item p{

color:var(--text-soft);

margin-bottom:12px;

}



.wallet-item strong{

font-size:22px;

color:var(--gold-light);

}



.profit strong{

color:#00c853;

}



.wallet-button{

margin-top:30px;

width:100%;

padding:16px;

border:none;

border-radius:50px;

background:

linear-gradient(
135deg,
#f7e7a9,
#d4af37
);

font-size:17px;

font-weight:bold;

cursor:pointer;

}
