.wallet-page{

min-height:100vh;

background:#090909;

color:white;

padding:25px;

}



.wallet-page h1{

text-align:center;

color:#D4AF37;

margin-bottom:30px;

}



.wallet-main{


background:

linear-gradient(

135deg,

#1d1d1d,

#111

);


padding:35px;


border-radius:30px;


border:

1px solid rgba(212,175,55,.4);


text-align:center;


box-shadow:

0 0 35px rgba(212,175,55,.15);


}



.wallet-main p{

color:#999;

}



.wallet-main h2{


font-size:42px;


color:#D4AF37;


margin:15px 0;


}



.wallet-main b{


color:#D4AF37;


margin-right:10px;


}



.wallet-actions{


display:flex;


gap:15px;


margin:30px 0;


}



.wallet-actions button{


flex:1;


padding:18px;


border-radius:18px;


font-size:17px;


cursor:pointer;


}



.wallet-buy{


background:#D4AF37;


border:none;


font-weight:bold;


}



.wallet-sell{


background:#171717;


color:white;


border:

1px solid #D4AF37;


}



.wallet-info{


display:grid;


grid-template-columns:

repeat(auto-fit,minmax(200px,1fr));


gap:20px;


}



.wallet-card{


background:#171717;


padding:25px;


border-radius:22px;


border:

1px solid #292929;


}



.wallet-card p{


color:#888;


}



.wallet-card strong{


display:block;


margin-top:15px;


color:#D4AF37;


font-size:22px;


}



.wallet-history{


margin-top:30px;


background:#171717;


padding:25px;


border-radius:25px;


border:

1px solid #292929;


}



.wallet-history h2{


color:#D4AF37;


}



.wallet-history div{


padding:18px 0;


border-bottom:

1px solid #292929;


display:flex;


justify-content:space-between;


}



.wallet-history span{


color:#888;


}
